<footer class="footer d-flex justify-content-between align-items-center w-100 px-4">
    <a href="/impressum.html"><p class="mb-0">© STELLA CRESCENTIA 2025</p></a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/st.centi.a/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.tiktok.com/@stellacrescentia" target="_blank">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="mailto:stcentia@gmail.com">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </li>
    </ul>
</footer>
