<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand ms-3" href="/index.html">STELLA CRESCENTIA</a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto justify-content-between p-3 bg-white">
            <li class="nav-item"><a class="nav-link active" href="/index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/projects.html">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/shop.html">Shop</a></li>
        </ul>
    </div>
</nav>
